@font-face {
  font-family: "iconfont"; /* Project id 4156264 */
  src: url('iconfont.woff2?t=1718546969002') format('woff2'),
       url('iconfont.ttf?t=1718546969002') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-score_1:before {
  content: "\e652";
}

.icon-score_2:before {
  content: "\e602";
}

.icon-score_3:before {
  content: "\ee16";
}

.icon-score_4:before {
  content: "\e62d";
}

